@model Igland.MVC.Models.ServiceOrdre.ServiceOrderViewModel
@{
    ViewData["Title"] = "Service og sjekkliste";
}
<h3>Meny for skjemaer</h3>
<h4>Nå er koden satt opp slik at man kan knytte knappene til nye sider(controller) når de lages, bare endre på "asp-controller"
    og "asp-action" i koden til denne siden. Linket Servicedokumenter til "LogIn" controlleren som en test</h4>

<style>
    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
</style>

<div class="buttons">
    <a asp-controller="LogIn" asp-action="Index">Servicedokumenter</a>
    <a asp-controller="placeholder" asp-action="Index">Arbeidsdokumenter</a>
    <a asp-controller="placeholder" asp-action="Index">Sjekklister</a>
    <a asp-controller="Placeholder" asp-action="Index">Ny servicedokument</a>
    <a asp-controller="Placeholder" asp-action="Index">Ny arbeidsdokument</a>
    <a asp-controller="Placeholder" asp-action="Index">Ny sjekkliste</a>
</div>


@*
@foreach (var jobGroup in Model.JobGroups)
{
        <h3>@jobGroup.Name</h3>
        <ul>
        @foreach (var group in jobGroup.Jobs)
        {
                <li>
                @group <input type="checkbox">
                </li>

        }
        </ul>
}

<!--
    <h3>@jobGroup.Name</h3>
    <ul>
    @foreach (var group in jobGroup.Jobs)
    {
        <li>
            @group <input type="checkbox">
        </li>
    
    }
    </ul>
}

<h1>Saksnummer @Model.ServiceOrderId</h1>
@if( Model.JobGroups!= null){
foreach(var jobGroup in Model.JobGroups)
{
    <h3>@jobGroup.Name</h3>
    <ul>
    @foreach (var group in jobGroup.Jobs)
    {
        <li>
            @group <input type="checkbox">
        </li>
    
    }
    </ul>
}
}

<form asp-action="Save" asp-controller="ServiceOrder" method="post">
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <label asp-for="Mechanic"></label>
    <input asp-for="Mechanic" type="text" /><br/>

    <label asp-for="ConsumedHours"></label>
    <input asp-for="ConsumedHours" type="number" />
    @Html.ValidationMessageFor(x=>x.ConsumedHours)<br/>
    <input type="submit" />

</form>
-->
*@