@using Igland.MVC.Models.ArbeidsDokument;


@model ArbeidsDokumentFullViewModel
@{
    ViewData["Title"] = "Arbeidsdokumenter";
}


<div class="overskrift">

    <h1>Arbeidsdokument </h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        @* <button type="submit"><i class="fa fa-search"></i></button>*@
    </div>
</div>



<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            ArbeidsDokumentID
        </th>

        <th>
            Ordrenummer
        </th>

        <th>
            Kunde
        </th>

        <th>
            Vinsj
        </th>
        <th>
            HenvendelseMotatt
        </th>
        <th>
            AvtaltLevering
        </th>
        <th>
            ProduktMotatt
        </th>
        <th>
            SjekkUtfort
        </th>
        <th>
            AvtaltFerdig
        </th>
        <th>
            ServiceFerdig
        </th>
        <th>
            AntallTimer
        </th>
        <th>
            BestillingFraKunde
        </th>
        <th>
            NotatFraMekaniker
        </th>
        <th>
            Status
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var ArbeidsDokuments in Model.ArbeidsDokOversikt)
            {
            <tr>
                <td><a asp-controller="ArbeidsDokument" asp-action="Test" asp-route-id="@ArbeidsDokuments.ArbeidsDokumentID">@ArbeidsDokuments.ArbeidsDokumentID</a></td>
                <td>@ArbeidsDokuments.OrdreNummer</td>
                <td>@ArbeidsDokuments.Kunde</td>
                <td>@ArbeidsDokuments.Vinsj</td>
                <td>@ArbeidsDokuments.HenvendelseMotatt</td>
                <td>@ArbeidsDokuments.AvtaltLevering</td>
                <td>@ArbeidsDokuments.ProduktMotatt</td>
                <td>@ArbeidsDokuments.SjekkUtfort</td>
                <td>@ArbeidsDokuments.AvtaltFerdig</td>
                <td>@ArbeidsDokuments.ServiceFerdig</td>
                <td>@ArbeidsDokuments.AntallTimer</td>
                <td>@ArbeidsDokuments.BestillingFraKunde</td>
                <td>@ArbeidsDokuments.NotatFraMekaniker</td>
                <td>@ArbeidsDokuments.Status</td>
            </tr>
            }
    </tbody>

</table>



