@using Igland.MVC.Models.Home;
@using Igland.MVC.CommonMethods;

@model HomeViewModel

@{
    ViewData["Title"] = "Hjem";

    Date date = new Date();
}

<h2>Velkommen @User.Identity.Name.Split('@')[0]</h2>



<div class="buttons">

    <a style="text-decoration:none" asp-controller="Ordre" asp-action="Index" class="box-link">
        <div class="box">Legg in ordre</div>
    </a>

    <a style="text-decoration:none" asp-controller="Kunder" asp-action="Index" class="box-link">
        <div class="box">Kunder</div>
    </a>
</div>

<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            Avtalt ferdig
        </th>

        <th>
            Ordre
        </th>

        <th>
            Kunde
        </th>

        <th>
           Status
        </th>
        <th>
            
        </th>

        @* Tabellen innhold *@


    <tbody>
            @foreach (var ArbeidsDokuments in Model.ArbDokList.OrderByDescending(x => x.OrdreNummer))
            {
                var Ordre = Model.OrdreOversikt.Find(x => x.OrdreNummer == ArbeidsDokuments.OrdreNummer);
                var Kunde = Model.KunderOversikt.Find(x => x.KundeID == Ordre.KundeID);
                // Check if the status is "pågår" before rendering the row
                if (Ordre.Status != "Case ferdig")
                {
            <tr class="row-data">
                <td data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })">@date.formatDateForViewing(ArbeidsDokuments.AvtaltFerdig)</td>
                    <td data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })">@Ordre.OrdreNummer</td>
                <td data-url="@Url.Action("Rediger", "Kunder", new { id = Kunde.KundeID })">@Kunde.KundeNavn</td>
                    <td data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })">@Ordre.Status</td>
                <td data-url="@Url.Action("Rediger", "Sjekkliste", new { id = ArbeidsDokuments.ArbDokID })">- Til Sjekkliste -</td>
            </tr>
            }
            }
    </tbody>

</table>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.row-data td').click(function () {
            var url = $(this).data('url');
            if (url) {
                window.location.href = url;
            }
        });
    });
</script>