﻿@using Igland.MVC.Models.Home;

@model HomeFullViewModel
@{
    ViewData["Title"] = "Hjem";
}
<ul>
    @{
        var userWithId1 = Model.UserList.FirstOrDefault(user => user.Id == 1);
        if (userWithId1 != null)
        {
            
                <h2>Velkommen @userWithId1.Name</h2>
                <p class="larger-text">Hva vil du gjøre idag?</p>
            
        }
    }
</ul>

@*
<form asp-action="Post" asp-controller="Home" method="post">
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
   <label asp-for="UpsertModel.Id"></label>
    <input asp-for="UpsertModel.Id" type="text" /><br />

    <label asp-for="UpsertModel.Name"></label>
    <input asp-for="UpsertModel.Name" type="text" required />

    <label asp-for="UpsertModel.Email"></label>
    <input asp-for="UpsertModel.Email" type="email" required />
    <input type="submit" />
</form>


    
<ul>
    @foreach (var users in Model.UserList)
    {
        <li>
            @users.Id
            @users.Name
            @users.Email

        </li>

    }
</ul>
    *@
<h2>Vinsjtype: </h2>

<div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
</div>