@using Igland.MVC.Models.ServiceDokument;


@model ServiceDokumentFullViewModel
@{
    ViewData["Title"] = "Servicedokumenter";
}


<div class="overskrift">

    <h1>Serviceskjema</h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        @* <button type="submit"><i class="fa fa-search"></i></button>*@
    </div>
</div>

<div>
    <a asp-controller="ServiceDokument" asp-action="Ny">Nytt serviceskjema</a>
</div>

<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            ServiceSkjemaID
        </th>

        <th>
            OrdreNummer
        </th>

        <th>
            Årsmodel
        </th>

        <th>
            Garanti
        </th>

        <th>
            Reparasjonsbeskrivelse
        </th>
        <th>
            Medgåtte deler
        </th>
        <th>
            Deler og retur
        </th>
        <th>
            Foresendelsesmåte
        </th>



        @* undergreier i tabellen *@



    <tbody>
            @foreach (var services in Model.ServiceDokumentOversikt)
            {
            <tr>
                <td>
                    <a asp-controller="ServiceDokument" asp-action="Rediger" asp-route-id="@services.ServiceSkjemaID">@services.ServiceSkjemaID</a>                 <form asp-action="Delete" asp-controller="ServiceDokument" method="post">
                        <input type="hidden" name="ServiceSkjemaID" value="@services.ServiceSkjemaID" />
                        <input type="submit" value="Slett" />
                    </form>
                </td>
                <td><a asp-controller="ServiceDokument" asp-action="Rediger" asp-route-id="@services.ServiceSkjemaID">@services.OrdreNummer</a></td>
                <td><a asp-controller="ServiceDokument" asp-action="Rediger" asp-route-id="@services.ServiceSkjemaID">@services.Aarsmodel</a></td>
                <td>@services.Garanti</td>
                <td>@services.Reparasjonsbeskrivelse</td>
                <td>@services.MedgaatteDeler</td>
                <td>@services.DeleRetur</td>
                <td>@services.ForesendelsesMaate</td>
            </tr>
            }
    </tbody>

</table>
