@using Igland.MVC.Models.ServiceDokument;
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@model ServiceDokumentFullViewModel
@{
    ViewData["Title"] = "Serviceskjema";
}
@Html.ValidationSummary()
@Html.AntiForgeryToken()
<div class="overskrift">
    <h1>Serviceskjema</h1>
    <br />
    <div >
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>

<div>
    <form action="@Url.Action("Ny", "ServiceDokument")">
        <button type="submit" class="button-link">Nytt serviceskjema</button>
    </form>
</div>
<hr />

<table id="tabell" align="center">
    <thead>
        <tr>
            <th>ServiceSkjemaID</th>
            <th>Ordrenummer</th>
            <th>Årsmodell</th>
            <th>Garanti</th>
            <th>Reparasjonsbeskrivelse</th>
            <th>Medgåtte deler</th>
            <th>Deler og retur</th>
            <th>Foresendelsesmåte</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.ServiceDokumentOversikt.OrderByDescending(x => x.OrdreNummer))
        {
            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "ServiceDokument", new { id = service.ServiceSkjemaID })">
                <td>
                    @service.ServiceSkjemaID
                    <form asp-action="Delete" asp-controller="ServiceDokument" method="post" onsubmit="return confirm('Er du sikker på at du vil slette?');">
                        <input type="hidden" name="ServiceSkjemaID" value="@service.ServiceSkjemaID" />
                        <input type="submit"  class="button-link" value="Slett" />
                    </form>
                </td>
                <td>@Html.DisplayFor(model => service.OrdreNummer)</td>
                <td>@Html.DisplayFor(model => service.Aarsmodel)</td>
                <td>@Html.DisplayFor(model => service.Garanti)</td>
                <td>@Html.DisplayFor(model => service.Reparasjonsbeskrivelse)</td>
                <td>@Html.DisplayFor(model => service.MedgaatteDeler)</td>
                <td>@Html.DisplayFor(model => service.DeleRetur)</td>
                <td>@Html.DisplayFor(model => service.ForesendelsesMaate)</td>

            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>