﻿@using Igland.MVC.Models.ServiceDokument;
@using Igland.MVC.CommonMethods;

@model ServiceDokumentFullViewModel

@{
    ViewData["Title"] = "Rediger serviceskjema";

    ID id = new ID();
    int index = id.getID(ViewContext, Model.ServiceDokumentOversikt.Count);
    var Sjekkliste = Model.ServiceDokumentOversikt[index];
}

<h1>Serviceskjema</h1>
<br>
<a style="text-decoration:none" asp-controller="ServiceDokument" asp-action="Index" class="box-link">
    <div>Tilbake</div>
</a>
<hr />



             <form asp-action="Post" asp-controller="ServiceDokument" method="post">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

                <label asp-for="UpsertModel.ServiceSkjemaID" hidden></label>
                <input asp-for="UpsertModel.ServiceSkjemaID" type="number" value="@Model.ServiceDokumentOversikt[index].ServiceSkjemaID" hidden />

                <label asp-for="UpsertModel.OrdreNummer"></label> <br />
                <input asp-for="UpsertModel.OrdreNummer" type="number" required value="@Model.ServiceDokumentOversikt[index].OrdreNummer" /><br />

                <label asp-for="UpsertModel.Aarsmodel">Årsmodel</label> <br />
                <input asp-for="UpsertModel.Aarsmodel" type="text" required value="@Model.ServiceDokumentOversikt[index].Aarsmodel" /><br />

                <label asp-for="UpsertModel.Garanti"></label> <br />
                <input asp-for="UpsertModel.Garanti" type="text" required value="@Model.ServiceDokumentOversikt[index].Garanti" /><br />

                <label asp-for="UpsertModel.Reparasjonsbeskrivelse"></label> <br />
                <input asp-for="UpsertModel.Reparasjonsbeskrivelse" type="text" value="@Model.ServiceDokumentOversikt[index].Reparasjonsbeskrivelse" /><br />

                <label asp-for="UpsertModel.MedgaatteDeler">Medgåtte deler</label> <br />
                <input asp-for="UpsertModel.MedgaatteDeler" type="text" value="@Model.ServiceDokumentOversikt[index].MedgaatteDeler" /><br />

                <label asp-for="UpsertModel.DeleRetur">Deler og retur</label> <br />
                <input asp-for="UpsertModel.DeleRetur" type="text" value="@Model.ServiceDokumentOversikt[index].DeleRetur" /><br />

                <label asp-for="UpsertModel.ForesendelsesMaate">Foresendelsesmåte</label> <br />
                <input asp-for="UpsertModel.ForesendelsesMaate" type="text" value="@Model.ServiceDokumentOversikt[index].ForesendelsesMaate" /><br />
                <br />
                <input type="submit" />
            </form>