﻿@using Igland.MVC.Models.Ordre;
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@model OrdreFullViewModel
@{
    ViewData["Title"] = "Ordre";
}

<div class="overskrift">
    <h1>Ordre</h1>
    <br />
    <div>
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>
<div>
    <form action="@Url.Action("Ny", "Ordre")">
        <button type="submit" class="button-link">Ny ordre</button>
    </form>
</div>
<hr />

<table id="tabell" , align="center">

    <tr>
        <th>OrdreNummer</th>
        <th>KundeID</th>
        <th>SerieNummer </th>
        <th>VareNavn</th>
        <th>Status </th>
        <th>ArbDokument</th>

    <tbody>
            @foreach (var ordre in Model.OrdreOversikt)
            {
            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "Ordre", new { id = ordre.OrdreNummer })">
                <td>@ordre.OrdreNummer</td>
                <td>@ordre.KundeID</td>
                <td>@ordre.SerieNummer</td>
                <td>@ordre.VareNavn</td>
                <td>@ordre.Status</td>
                <td>@ordre.ArbDokument</td>
            </tr>
            }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>﻿
