﻿@using Igland.MVC.Models.Ordre;
@model OrdreFullViewModel
@{
    ViewData["Title"] = "Rediger ordre";
    int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
    int index = Model.OrdreOversikt.FindIndex(s => s.OrdreNummer == id);
    if (index == -1)
    {
        // Handle the case where the id is not found in the list
        index = 0; // Set to the first item as a default
    }
}
<h1>Ordre</h1>
<br>
<a style="text-decoration:none" asp-controller="Ordre" asp-action="Index" class="box-link">
    <div>Tilbake</div>
</a>
<hr />



<form asp-action="Post" asp-controller="Ordre" method="post">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
                <input asp-for="UpsertModel.OrdreNummer" type="hidden" required value="@Model.OrdreOversikt[index].OrdreNummer" />

                <input asp-for="UpsertModel.KundeID" type="hidden" required value="@Model.OrdreOversikt[index].KundeID" />

                <label asp-for="UpsertModel.SerieNummer"></label> <br />
                <input asp-for="UpsertModel.SerieNummer" type="number" required value="@Model.OrdreOversikt[index].SerieNummer" /><br />

                <label asp-for="UpsertModel.VareNavn">VareNavn</label> <br />
                <input asp-for="UpsertModel.VareNavn" type="text" required value="@Model.OrdreOversikt[index].VareNavn" /><br />

                <label asp-for="UpsertModel.Status"></label> <br />
                <select asp-for="UpsertModel.Status" required>
                    <option value="Ordre opprettet">Ordre opprettet</option>
                    <option value="Produkt mottatt">Produkt mottatt</option>
                    <option value="Sjekk utført">Sjekk utført</option>
                    <option value="Service ferdig">Service ferdig</option>
                    <option value="Case ferdig">Case ferdig</option>
                </select>
                <br /><br />
                @*<input asp-for="UpsertModel.Status" type="text" required value="@Model.OrdreOversikt[index].Status" /><br />*@
        <input type="submit" />
</form>

<!--
    /// <summary>
    /// Go through the list of radio button values from the statusString from the Sjekkliste model.
    /// Assign the values to their respective HTML input type="radio" element.
    /// </summary>
-->

@* Creates a hidden element to keep track of Status from the model *@
<p id="statusElement" hidden>@Model.OrdreOversikt[index].Status<p>

<script type="text/javascript">
    var statusElement = document.getElementById("statusElement").innerHTML

    @* Get the <select> element *@
    var menu = document.getElementsByTagName("select")[0];
    @* Get the <option> elements in the <select> menu *@
    var options = menu.getElementsByTagName("option");
    
    @* Go through the list of options and select the one with matching content as the hidden statusElement *@
    let i = 0;
    while (i < options.length) {
        if (statusElement == options[i].value) {
            options[i].selected = true;
        }
        i++;
    }
</script>
