@using Igland.MVC.Models.Sjekkliste;

@model SjekklisteFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";
}


<div class="overskrift">

    <h1>Sjekklister </h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        @* <button type="submit"><i class="fa fa-search"></i></button>*@
    </div>
</div>


<div>
    <a asp-controller="Sjekkliste" asp-action="Ny">Ny sjekkliste</a>
</div>

<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            ServiceSkjemaID
        </th>

        <th>
            OrdreNummer
        </th>

        <th>
            Årsmodel
        </th>

        <th>
            Garanti
        </th>

        <th>
            Reparasjonsbeskrivelse
        </th>
        <th>
            MedgåtteDeler
        </th>
        <th>
            DeleRetur
        </th>
        <th>
            ForesendelsesMåte
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var sjekklister in Model.SjekklisteOversikt)
            {
            <tr>
                <td>@sjekklister.MekanikerNavn</td>
                <td>@sjekklister.SerieNummer</td>
                <td>@sjekklister.Dato</td>
                <td>@sjekklister.AntallTimer</td>
                <td>@sjekklister.MekanikerKommentar</td>
                <td>@sjekklister.SjekklisteID</td>
            </tr>
            }
    </tbody>

</table>



