@using Igland.MVC.Models.Sjekkliste;

@model SjekklisteFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";

    List<string> toText(String statusString)
    {
        string returnString = "";
        List<string> liste = new List<string>();
        for (int i = 0; i < statusString.Length; i++)
        {
            if (statusString[i].Equals(','))
            {
                liste.Add(returnString);
                returnString = "";
            }
            else if (statusString[i].Equals('0'))
                returnString += "Defekt";
            else if (statusString[i].Equals('1'))
                returnString += "Skal endres";
            else if (statusString[i].Equals('2'))
                returnString += "OK";
            else returnString += "unexpected input";
        }
        return liste;
    }
}


<div class="overskrift">

    <h1>Sjekklister </h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        @* <button type="submit"><i class="fa fa-search"></i></button>*@
    </div>
</div>


<div>
    <a asp-controller="Sjekkliste" asp-action="Ny">Ny sjekkliste</a>
</div>

<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            SjekklisteID
        </th>

        <th>
            OrdreNummer
        </th>

        <th>
            SerieNummer
        </th>

        <th>
            Dato
        </th>

        <th>
            Antall timer
        </th>
        <th>
            Kommentar
        </th>
        <th>
            Mekaniker
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var sjekklister in Model.SjekklisteOversikt)
            {
            <tr>
                <td>@sjekklister.SjekklisteID</td>
                <td>@sjekklister.OrdreNummer</td>
                <td>@sjekklister.SerieNummer</td>
                <td>@sjekklister.Dato</td>
                <td>@sjekklister.AntallTimer</td>
                <td>@sjekklister.MekanikerKommentar</td>
                <td>@sjekklister.MekanikerNavn</td>
                @*<td>@foreach (var item in toText(sjekklister.StatusString))
                    {
                        <p>@item</p>
                    }
                </td>*@
            </tr>
            }
    </tbody>

</table>



