<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@using Igland.MVC.Models.Sjekkliste;
@using Igland.MVC.CommonMethods;

@model SjekklisteFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";

    Date date = new Date();
}

<div class="overskrift">

    <h1>Sjekklister </h1>
    <br />
    <div>
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>

@*
<form action="@Url.Action("Ny", "Sjekkliste")">
    <button type="submit" class="button-link">Ny sjekkliste</button>
</form>
*@
<hr />





<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            OrdreNummer
        </th>

        <th>
            SerieNummer
        </th>

        <th>
            Utført dato
        </th>

        <th>
            Antall timer
        </th>
        <th>
            Kommentar
        </th>
        <th>
            Mekaniker
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var sjekklister in Model.SjekklisteOversikt.OrderByDescending(x => x.OrdreNummer))
            {
            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "Sjekkliste", new { id = sjekklister.SjekklisteID })">
                <td>@sjekklister.OrdreNummer</td>
                <td>@sjekklister.SerieNummer</td>
                <td>@date.formatDateForViewing(sjekklister.Dato)</td>
                <td>@sjekklister.AntallTimer</td>
                <td>@sjekklister.MekanikerKommentar</td>
                <td>@sjekklister.MekanikerNavn</td>
                @*<td>@foreach (var item in toText(sjekklister.StatusString))
                    {
                        <p>@item</p>
                    }
                </td>*@
            </tr>
            }
    </tbody>

</table>



<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>
