﻿@using Igland.MVC.Models.Sjekkliste;

@model SjekklisteFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";
}
<style type="text/css">
    .checklist-grid {
        border: 1px solid black;
        padding: 10px;
    }

    .checklist-item {
        border-bottom: 1px solid gray;
        padding: 10px;
    }

        .checklist-item input[type="radio"] {
            float: right;
            margin-right: 90px;
        }

    .checklistenavn {
        float: right;
        margin: 20px;
    }

        .checklistenavn h4 {
            display: inline-block;
            padding-right: 50px;
        }

    .MekanikerNavn, .AntallTimer, .Dato, .SubmitKnapp {
        float: left;
        margin: 20px;
    }

    ul {
        list-style-type: none;
    }
</style>


<form asp-action="Post" asp-controller="Sjekkliste" method="post">
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <label asp-for="UpsertModel.OrdreNummer" Text="Serienummer"></label>
    <input asp-for="UpsertModel.OrdreNummer" type="number" required/>

    <label asp-for="UpsertModel.SerieNummer" Text="Serienummer"></label>
    <input asp-for="UpsertModel.SerieNummer" type="string name="Serienummer" />

<div class="checklistenavn">
    <h4>OK</h4>
    <h4>Skal endres</h4>
    <h4>Defekt</h4>
</div>
     <div class="checklist-grid">
        <h3>Mekanisk</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>Sjekk clutch lameller for slitasje</label>
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="2" /> @*OK*@
                </div>
                <div class="checklist-item">
                    <label>Sjekk bremser. Bånd/pal</label>
                    <input asp-for="UpsertModel.Bremser" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Bremser" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Bremser" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
        
        @*@if (Model.UpsertModel.JobGroups != null)
        {
            foreach (var jobGroup in Model.UpsertModel.JobGroups)
            {
                <h3>@jobGroup.Name</h3>
                <ul>
                    @foreach (var jobs in jobGroup.Jobs)
                    {
                        <li>
                            <div class="checklist-item">
                                <label>@jobs.Name</label>
                                <input asp-for="@jobs.Value" type="radio" value="0">
                                <input asp-for="@jobs.Value" type="radio" value="1">
                                <input asp-for="@jobs.Value" type="radio" value="2">
                            </div>
                        </li>

                    }
                </ul>
            }
        }*@
        
    </div>
    
    
    
    <h3>Kommentarer</h3>
    <div class="MekanikerKommentar">
        <textarea asp-for="UpsertModel.MekanikerKommentar" class="form-control-md" style="width: 100%; height: 100px;"> </textarea>
    </div>
    
    <div class="MekanikerNavn">
        <label asp-for="UpsertModel.MekanikerNavn"></label>
        <input asp-for="UpsertModel.MekanikerNavn" type="text" /><br />
    </div>

    <div class="AntallTimer">
        <label asp-for="UpsertModel.AntallTimer"></label>
        <input asp-for="UpsertModel.AntallTimer" type="number" />
    </div>

    <div class="Dato">
        <label asp-for="UpsertModel.Dato"></label>
        <input asp-for="UpsertModel.Dato" type="date" />
    </div>

    <div class="SubmitKnapp">
    <input type="submit" />
    </div>

    <br>
    <br>
    <br>
    <br>
</form>