﻿@using Igland.MVC.Models.Sjekkliste;

@model SjekklisteFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";

    List<string> toText(String statusString)
    {
        string returnString = "";
        List<string> liste = new List<string>();
        for (int i = 0; i < statusString.Length; i++)
        {
            if (statusString[i].Equals(','))
            {
                liste.Add(returnString);
                returnString = "";
            }
            else if (statusString[i].Equals('0'))
                returnString += "Defekt";
            else if (statusString[i].Equals('1'))
                returnString += "Skal endres";
            else if (statusString[i].Equals('2'))
                returnString += "OK";
            else returnString += "unexpected input";
        }
        return liste;
    }
}



<form asp-action="Post" asp-controller="Sjekkliste" method="post">
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <label asp-for="UpsertModel.OrdreNummer" Text="Serienummer"></label>
    <input asp-for="UpsertModel.OrdreNummer" type="number" required/>

    <label asp-for="UpsertModel.SerieNummer" Text="Serienummer"></label>
    <input asp-for="UpsertModel.SerieNummer" type="string name="Serienummer" />

<div class="checklistenavn">
    <h4>OK</h4>
    <h4>Skal endres</h4>
    <h4>Defekt</h4>
</div>
     <div class="checklist-grid">
        <h3>Mekanisk</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>Sjekk clutch lameller for slitasje</label>
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.ClutchLameller" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk bremser. Bånd/Pal</label>
                    <input asp-for="UpsertModel.Bremser" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Bremser" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Bremser" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk lager for trommel</label>
                    <input asp-for="UpsertModel.Trommel" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Trommel" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Trommel" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk PTO og opplagring</label>
                    <input asp-for="UpsertModel.PTO" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.PTO" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.PTO" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk kjedestrammer</label>
                    <input asp-for="UpsertModel.Kjedestrammer" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Kjedestrammer" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Kjedestrammer" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk wire</label>
                    <input asp-for="UpsertModel.Wire" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Wire" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Wire" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk pinion lager</label>
                    <input asp-for="UpsertModel.Pinion" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Pinion" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Pinion" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk kile på kjedehjul</label>
                    <input asp-for="UpsertModel.Kjedehjul" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Kjedehjul" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Kjedehjul" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
        <h3>Hydraulisk</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>Sjekk hydraulisk sylinder for lekkasje</label>
                    <input asp-for="UpsertModel.Hydraulisksylinder" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Hydraulisksylinder" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Hydraulisksylinder" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk slanger for skader og lekkasje</label>
                    <input asp-for="UpsertModel.Slanger" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Slanger" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Slanger" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Test hydraulikkblokk i testbenk</label>
                    <input asp-for="UpsertModel.Hydraulikkblokk" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Hydraulikkblokk" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Hydraulikkblokk" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Skift olje i tank</label>
                    <input asp-for="UpsertModel.Oljetank" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Oljetank" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Oljetank" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Skift olje på gir boks</label>
                    <input asp-for="UpsertModel.Oljegir" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Oljegir" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Oljegir" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk Ringsylinder åpne og skift tetninger</label>
                    <input asp-for="UpsertModel.Ringsylinder" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Ringsylinder" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Ringsylinder" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk bremse sylinder åpne og skift tetninger</label>
                    <input asp-for="UpsertModel.Bremsesylinder" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Bremsesylinder" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Bremsesylinder" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
        <h3>Elektro</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>Sjekk ledningsnett på vinsj</label>
                    <input asp-for="UpsertModel.Ledningsnett" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Ledningsnett" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Ledningsnett" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk og test radio</label>
                    <input asp-for="UpsertModel.Testradio" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Testradio" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Testradio" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Sjekk og test knappekasse</label>
                    <input asp-for="UpsertModel.Knappekasse" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Knappekasse" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Knappekasse" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
        <h3>Trykksettinger</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>xx- bar</label>
                    <input asp-for="UpsertModel.Xxbar" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Xxbar" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Xxbar" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
        <h3>Funksjonstest</h3>
        <ul>
            <li>
                <div class="checklist-item">
                    <label>Test vinsj og kjør alle funksjoner</label>
                    <input asp-for="UpsertModel.Testvinsj" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Testvinsj" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Testvinsj" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Trekkraft KN</label>
                    <input asp-for="UpsertModel.Trekkraftkn" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Trekkraftkn" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Trekkraftkn" type="radio" value="2" /> @*OK*@
                </div>
            </li>
            <li>
                <div class="checklist-item">
                    <label>Bremse kraft KN</label>
                    <input asp-for="UpsertModel.Bremsekraft" type="radio" value="0" /> @*Defekt*@
                    <input asp-for="UpsertModel.Bremsekraft" type="radio" value="1" /> @*Skal endres*@
                    <input asp-for="UpsertModel.Bremsekraft" type="radio" value="2" /> @*OK*@
                </div>
            </li>
        </ul>
    </div>

        @*@if (Model.UpsertModel.JobGroups != null)
        {
            foreach (var jobGroup in Model.UpsertModel.JobGroups)
            {
                <h3>@jobGroup.Name</h3>
                <ul>
                    @foreach (var jobs in jobGroup.Jobs)
                    {
                        <li>
                            <div class="checklist-item">
                                <label>@jobs.Name</label>
                                <input asp-for="@jobs.Value" type="radio" value="0">
                                <input asp-for="@jobs.Value" type="radio" value="1">
                                <input asp-for="@jobs.Value" type="radio" value="2">
                            </div>
                        </li>

                    }
                </ul>
            }
        }*@
    </div>
    
    
    
    <h3>Kommentarer</h3>
    <div class="MekanikerKommentar">
        <textarea asp-for="UpsertModel.MekanikerKommentar" class="form-control-md" style="width: 100%; height: 100px;"> </textarea>
    </div>
    
    <div class="MekanikerNavn">
        <label asp-for="UpsertModel.MekanikerNavn"></label>
        <input asp-for="UpsertModel.MekanikerNavn" type="text" /><br />
    </div>

    <div class="AntallTimer">
        <label asp-for="UpsertModel.AntallTimer"></label>
        <input asp-for="UpsertModel.AntallTimer" type="number" />
    </div>

    <div class="Dato">
        <label asp-for="UpsertModel.Dato"></label>
        <input asp-for="UpsertModel.Dato" type="date" />
    </div>

    <div class="SubmitKnapp">
    <input type="submit" />
    </div>

    <br>
    <br>
    <br>
    <br>

</form>
<br />
<br />
<br />
<br />
<style>

.checklist-grid {
    border: 1px solid black;
    padding: 10px;
}

.checklist-item {
    border-bottom: 1px solid gray;
    padding: 10px;
}

    .checklist-item input[type="radio"] {
        float: right;
        margin-right: 90px;
    }

.checklistenavn {
    float: right;
    margin: 20px;
}

    .checklistenavn h4 {
        display: inline-block;
        padding-right: 50px;
    }

.MekanikerNavn, .AntallTimer, .Dato, .SubmitKnapp {
    float: left;
    margin: 20px;
}

ul {
    list-style-type: none;
}
</style>