<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@using Igland.MVC.Models.ArbDok;
@model ArbDokFullViewModel
@{
    ViewData["Title"] = "Arbeidsdokumenter";
}


<div class="overskrift">

    <h1>Arbeidsdokument </h1>
    <br />
    <div>
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>


<form action="@Url.Action("Ny", "ArbDok")">
    <button type="submit" class="button-link">Nytt arbeidsdokument</button>
</form>

<hr />
<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            BOOKET SERVICE TIL UKE
        </th>

        <th>
            Henvendelse mottatt og reg. ddmmåå
        </th>

        <th>
            Case ferdig? JA/NEI (status)
        </th>

        <th>
            Produkttype
        </th>
        <th>
            Bestilling fra kunde
        </th>
        <th>
            Kundeinfo
        </th>
        <th>
            Avtalt levering ddmmåå
        </th>
        <th>
            Produkt mottatt ddmmåå
        </th>
        <th>
            Avtalt ferdigstillelse innen ddmmåå
        </th>
        <th>
            Service ferdig ddmmåå
        </th>
        <th>
            Antall timer på utført service
        </th>
        <th>
            Ordrenummer
        </th>
        <th>
            Slett?
        </th>




        @* undergreier i tabellen *@

    <tbody>
                    @foreach (var ArbeidsDokuments in Model.ArbDokList.OrderByDescending(x => x.OrdreNummer))
            {
                var Ordre = Model.OrdreList.Find(x => x.OrdreNummer == ArbeidsDokuments.OrdreNummer);
                var Kunde = Model.KunderList.Find(x => x.KundeID == Ordre.KundeID);

            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })">
                <td>49</td>
                <td>@ArbeidsDokuments.HenvendelseMotatt</td>
                <td>@Ordre.Status</td>
                <td>@Ordre.SerieNummer @Ordre.VareNavn</td>
                <td>@ArbeidsDokuments.BestillingFraKunde</td>
                <td>@Kunde.KundeID @Kunde.KundeNavn</td>
                <td>@ArbeidsDokuments.AvtaltLevering</td>
                <td>@ArbeidsDokuments.ProduktMotatt</td>
                <td>@ArbeidsDokuments.AvtaltFerdig</td>
                <td>@ArbeidsDokuments.ServiceFerdig</td>
                <td>@ArbeidsDokuments.AntallTimer</td>
                <td>@Ordre.OrdreNummer</td>
                <td>
                    @ArbeidsDokuments.ArbDokID
                    <form asp-action="Delete" asp-controller="ArbDok" method="post" onsubmit="return confirm('Er du sikker på at du vil slette?');">
                        <input type="hidden" name="ArbDokID" value="@ArbeidsDokuments.ArbDokID" />
                        <input type="submit" class="button-link" value="Slett" />
                    </form>
                </td>
            </tr>
            }
    </tbody>

</table>


<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>
