<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!--inkluderer jquery bibliotek-->
@using Igland.MVC.Models.ArbDok; <!--modellen bruker ArbDok-->
@using Igland.MVC.CommonMethods; <!--modellen bruker CommonMethods-->
@model ArbDokFullViewModel 
@{
    ViewData["Title"] = "Arbeidsdokumenter"; // definerer viewen som Arbeidsdokumenter
    Date date = new Date();
}


<div class="overskrift">

    <h1>Arbeidsdokument </h1>
    <br />
    <div>
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>

<!--
    <form action="@Url.Action("Ny", "ArbDok")">
    <button type="submit" class="button-link">Nytt arbeidsdokument</button>
    </form>
-->

<hr />
<table id="tabell" , align="center"> <!-- Lager tabell og sentrerer den-->

    @* <thred> spare </thred> *@
    <tr> <!--definerer navn på kolonner i Arbdeidsdokument tabellen -->
        <th>
            BOOKET SERVICE TIL UKE
        </th>

        <th>
            Henvendelse mottatt
        </th>

        <th>
            Status
        </th>

        <th>
            Produkttype
        </th>
        <th>
            Bestilling fra kunde
        </th>
        <th>
            Kunde
        </th>
        <th>
            Avtalt levering
        </th>
        <th>
            Produkt mottatt
        </th>
        <th>
            Avtalt ferdig innen
        </th>
        <th>
            Service ferdig
        </th>
        <th>
            Antall timer på utført service
        </th>
        <th>
            Ordrenummer
        </th>
        <th>
            Slett?
        </th>




        @* undergreier i tabellen *@

    <tbody>
            @foreach (var ArbeidsDokuments in Model.ArbDokList.OrderByDescending(x => x.OrdreNummer)) @* <!--lager en foreach løkke som itererer lagrer en rad med ArbDokList for hvert OrdreNummer i tabellen.-->*@
        {
            var Ordre = Model.OrdreList.Find(x => x.OrdreNummer == ArbeidsDokuments.OrdreNummer);  <!--Henter elementet fra OrdreList der OrdreNummer matcher Arbeidsdokuments OrdreNummer og lagrer det som variabelen Ordre -->
            var Kunde = Model.KunderList.Find(x => x.KundeID == Ordre.KundeID);<!--Henter elementet fra KunderList der KundeID matcher Arbeidsdokuments KundeID og lagrer det som variabelen Kunde -->

            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })"> <!--url til "Rediger" og "Ny" views i ArbDok-->
                <td>49</td>
                <td>@date.formatDateForViewing(ArbeidsDokuments.HenvendelseMotatt)</td> <!--skifter kolonne og legger inn en verdi for HenvendelseMottat hentet fra ArbeidsDokuments variabelen-->
                <td>@Ordre.Status</td> <!--skifter kolonne og legger inn en verdi for Status hentet fra Ordre variabelen-->
                <td>@Ordre.VareNavn @Ordre.SerieNummer</td> <!--skifter kolonne og legger inn en verdi for SerieNummer hentet fra Ordre Variabelen-->
                <td>@ArbeidsDokuments.BestillingFraKunde</td> <!--skifter kolonne og legger inn en verdi for BestillingFraKunde hentet fra ArbeidsDokuments variabelen-->
                <td>@Kunde.KundeNavn</td> <!--skifter kolonne og legger inn en verdi for KundeNavn hentet fra Kunde variabelen-->
                <td>@date.formatDateForViewing(ArbeidsDokuments.AvtaltLevering)</td> <!--skifter kolonne og legger inn en verdi for AvtaltLevering hentet fra ArbeidsDokuments variabelen-->
                <td>@date.formatDateForViewing(ArbeidsDokuments.ProduktMotatt)</td> <!--skifter kolonne og legger inn en verdi for ProduktMottat hentet fra ArbeidsDokuments variabelen-->
                <td>@date.formatDateForViewing(ArbeidsDokuments.AvtaltFerdig)</td> <!--skifter kolonne og legger inn en verdi for AvtaltFerdig hentet fra ArbeidsDokuments variabelen-->
                <td>@date.formatDateForViewing(ArbeidsDokuments.ServiceFerdig)</td> <!--skifter kolonne og legger inn en verdi for ServiceFerdig hentet fra ArbeidsDokuments variabelen-->
                <td>@ArbeidsDokuments.AntallTimer</td> <!--skifter kolonne og legger inn en verdi for AntallTimer hentet fra ArbeidsDokuments variabelen-->
                <td>@Ordre.OrdreNummer</td> <!--skifter kolonne og legger inn en verdi for OrdreNummer hentet fra Ordre variabelen-->
                <td>
                    <form asp-action="Delete" asp-controller="ArbDok" method="post" onsubmit="return confirm('Er du sikker på at du vil slette?');"> <!--lager en ASP.NET form som sletter data om den returnerer true-->
                        <input type="hidden" name="ArbDokID" value="@ArbeidsDokuments.ArbDokID" /> <!-- type="hidden". Only used to track ID--> <!--inputter en ArbDokID med value fra ArbeidsDokuments variabelen-->
                        <input type="submit" class="button-link" value="Slett" /> <!--lager en knapp med et styling class "button-link" som submitter "Slett"-->
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>


<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>
