<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@using Igland.MVC.Models.ArbDok;
@model ArbDokFullViewModel
@{
    ViewData["Title"] = "Arbeidsdokumenter";
}


<div class="overskrift">

    <h1>Arbeidsdokument </h1>
    <br />
    <div>
        <input type="text" class="button-link" id="searchInput" placeholder="Søk..">
    </div>
</div>


<form action="@Url.Action("Ny", "ArbDok")">
    <button type="submit" class="button-link">Nytt arbeidsdokument</button>
</form>

<hr />
<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            ArbeidsDokumentID
        </th>

        <th>
            Ordrenummer
        </th>

        <th>
            Kunde
        </th>

        <th>
            Vinsj
        </th>
        <th>
            HenvendelseMotatt
        </th>
        <th>
            AvtaltLevering
        </th>
        <th>
            ProduktMotatt
        </th>
        <th>
            SjekkUtfort
        </th>
        <th>
            AvtaltFerdig
        </th>
        <th>
            ServiceFerdig
        </th>
        <th>
            AntallTimer
        </th>
        <th>
            BestillingFraKunde
        </th>
        <th>
            NotatFraMekaniker
        </th>
        <th>
            Status
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var ArbeidsDokuments in Model.ArbDokList)
            {
            <tr class="row-clickable row-data" data-url="@Url.Action("Rediger", "ArbDok", new { id = ArbeidsDokuments.ArbDokID })">

                <td>@ArbeidsDokuments.ArbDokID
                    <form asp-action="Delete" asp-controller="ArbDok" method="post" onsubmit="return confirm('Er du sikker på at du vil slette?');">
                        <input type="hidden" name="ArdDokID" value="@ArbeidsDokuments.ArbDokID" />
                        <input type="submit" class="button-link" value="Slett" />
                    </form>
                </td>
                <td>@ArbeidsDokuments.OrdreNummer</td>
                <td>@ArbeidsDokuments.Kunde</td>
                <td>@ArbeidsDokuments.Vinsj</td>
                <td>@ArbeidsDokuments.HenvendelseMotatt</td>
                <td>@ArbeidsDokuments.AvtaltLevering</td>
                <td>@ArbeidsDokuments.ProduktMotatt</td>
                <td>@ArbeidsDokuments.SjekkUtfort</td>
                <td>@ArbeidsDokuments.AvtaltFerdig</td>
                <td>@ArbeidsDokuments.ServiceFerdig</td>
                <td>@ArbeidsDokuments.AntallTimer</td>
                <td>@ArbeidsDokuments.BestillingFraKunde</td>
                <td>@ArbeidsDokuments.NotatFraMekaniker</td>
                <td>@ArbeidsDokuments.Status</td>
            </tr>
            }
    </tbody>

</table>


<script>
    $(document).ready(function () {
        // Function to filter rows based on search input
        function filterTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('.row-data').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }

        // Event listener for keyup on the search input
        $('#searchInput').keyup(function () {
            filterTable();
        });

        // Redirect to the details page when clicking on a row
        $(".row-clickable").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
        function confirmDelete() {
            var userConfirmed = confirm('Er du sikker på at du vil slette?');
            return userConfirmed;
        }
    });
</script>
