@using Igland.MVC.Models.ArbDok;
@model ArbDokFullViewModel

<h1>Arbeidsdokument</h1>
<a style="text-decoration:none" asp-controller="ArbDok" asp-action="Index">
    <div>Tilbake</div>
</a>
<hr />
<body>
    @{
        int getID()
        {
            int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
            if (id <= 0 || id > Model.ArbDokList.Count)
            {
                return 0;
            }
            return id - 1;
        }

        // Funksjon som bytter ut punktum i Strings med bindestrek
        // og deretter stokker om på rekkefølgen av år, måned, og dato, for å kunne plassere en value i input type="date"
        // Inspirert av geekforgeeks:
        // https://www.geeksforgeeks.org/program-to-replace-every-space-in-a-string-with-hyphen/
        String formatDate(String str)
        {
            String d = "";
            String m = "";
            String y = "";
            int numberOfPeriods = 0;

            for (int i = 0; i < str.Length; i++)
            {
                if (str[i].Equals('.'))
                    numberOfPeriods++;
                else
                {
                    if (numberOfPeriods == 0)
                        d += str[i];
                    else if (numberOfPeriods == 1)
                        m += str[i];
                    else
                        y += str[i];
                }
            }
            return y + "-" + m + "-" + d;
        }
    }

    <form asp-action="Post" asp-controller="ArbDok" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <label asp-for="UpsertArbDok.ArbDokID" hidden></label>
        <input asp-for="UpsertArbDok.ArbDokID" type="number" value="@Model.ArbDokList[getID()].ArbDokID" hidden/>

        <label asp-for="UpsertArbDok.OrdreNummer"></label><br />
        <input asp-for="UpsertArbDok.OrdreNummer" type="number" required value="@Model.ArbDokList[getID()].OrdreNummer"/><br />

        <label asp-for="UpsertArbDok.Kunde"></label><br />
        <input asp-for="UpsertArbDok.Kunde" type="text" required value="@Model.ArbDokList[getID()].Kunde" /><br />

        <label asp-for="UpsertArbDok.Vinsj"></label><br />
        <input asp-for="UpsertArbDok.Vinsj" type="text" required value="@Model.ArbDokList[getID()].Vinsj" /><br />

        <label asp-for="UpsertArbDok.HenvendelseMotatt"></label><br />
        <input asp-for="UpsertArbDok.HenvendelseMotatt" type="date" value="@formatDate(Model.ArbDokList[getID()].HenvendelseMotatt.ToString())" /><br />

        <label asp-for="UpsertArbDok.AvtaltLevering"></label><br />
        <input asp-for="UpsertArbDok.AvtaltLevering" type="date" value="@formatDate(Model.ArbDokList[getID()].AvtaltLevering.ToString())" /><br />

        <label asp-for="UpsertArbDok.ProduktMotatt"></label><br />
        <input asp-for="UpsertArbDok.ProduktMotatt" type="date" value="@formatDate(Model.ArbDokList[getID()].ProduktMotatt.ToString())" /><br />

        <label asp-for="UpsertArbDok.SjekkUtfort"></label><br />
        <input asp-for="UpsertArbDok.SjekkUtfort" type="date" value="@formatDate(Model.ArbDokList[getID()].SjekkUtfort.ToString())" /><br />

        <label asp-for="UpsertArbDok.AvtaltFerdig"></label><br />
        <input asp-for="UpsertArbDok.AvtaltFerdig" type="date" value="@formatDate(Model.ArbDokList[getID()].AvtaltFerdig.ToString())" /><br />

        <label asp-for="UpsertArbDok.ServiceFerdig"></label><br />
        <input asp-for="UpsertArbDok.ServiceFerdig" type="date" value="@formatDate(Model.ArbDokList[getID()].ServiceFerdig.ToString())" /><br />

        <label asp-for="UpsertArbDok.AntallTimer"></label><br />
        <input asp-for="UpsertArbDok.AntallTimer" type="number" value="@Model.ArbDokList[getID()].AntallTimer" /><br />

        <label asp-for="UpsertArbDok.BestillingFraKunde"></label><br />
        <!-- <textarea asp-for="UpsertModel.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn" value="@Model.ArbDokList[getID()].BestillingFraKunde" /><br />

        <label asp-for="UpsertArbDok.NotatFraMekaniker"></label><br />
        <!-- <textarea asp-for="UpsertModel.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn" value="@Model.ArbDokList[getID()].NotatFraMekaniker" /><br />

        <label asp-for="UpsertArbDok.Status"></label><br />
        <input asp-for="UpsertArbDok.Status" type="text" value="@Model.ArbDokList[getID()].Status" /><br />

        <input type="submit" />
    </form>
</body>