@using Igland.MVC.Models.ArbDok;
@using Igland.MVC.CommonMethods;
@model ArbDokFullViewModel

<h1>Arbeidsdokument</h1>
<a style="text-decoration:none" asp-controller="ArbDok" asp-action="Index">
    <div>Tilbake</div>
</a>
<hr />
<body>
    @{
        Date date = new Date();
        ID id = new ID();
        int index = id.getID(ViewContext, Model.ArbDokList.Count);

        var ArbDok = Model.ArbDokList[index];
        var Ordre = Model.OrdreList.Find(x => x.OrdreNummer == ArbDok.OrdreNummer);
        var Kunde = Model.KunderList.Find(x => x.KundeID == Ordre.KundeID);
    }

    <form asp-action="Post" asp-controller="ArbDok" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <label asp-for="UpsertArbDok.ArbDokID" hidden></label>
        <input asp-for="UpsertArbDok.ArbDokID" type="number" value="@ArbDok.ArbDokID" hidden />

        <label asp-for="UpsertArbDok.OrdreNummer" hidden></label><br />
        <input asp-for="UpsertArbDok.OrdreNummer" type="number" required value="@Ordre.OrdreNummer" hidden /><br />

        <label asp-for="UpsertArbDok.Kunde"></label><br />
        <input asp-for="UpsertArbDok.Kunde" type="text" required value="@Kunde.KundeID"/>
        <label>@Kunde.KundeNavn</label><br />

        <label asp-for="UpsertArbDok.Vinsj"></label><br />
        <input asp-for="UpsertArbDok.Vinsj" type="text" required value="@ArbDok.Vinsj" />
        <label>@Ordre.VareNavn @Ordre.SerieNummer</label><br />

        <label asp-for="UpsertArbDok.HenvendelseMotatt"></label><br />
        <input asp-for="UpsertArbDok.HenvendelseMotatt" type="date" value="@date.formatDateForInputField(ArbDok.HenvendelseMotatt.ToString())" /><br />

        <label asp-for="UpsertArbDok.AvtaltLevering"></label><br />
        <input asp-for="UpsertArbDok.AvtaltLevering" type="date" value="@date.formatDateForInputField(ArbDok.AvtaltLevering.ToString())" /><br />

        <label asp-for="UpsertArbDok.ProduktMotatt"></label><br />
        <input asp-for="UpsertArbDok.ProduktMotatt" type="date" value="@date.formatDateForInputField(ArbDok.ProduktMotatt.ToString())" /><br />

        <label asp-for="UpsertArbDok.SjekkUtfort"></label><br />
        <input asp-for="UpsertArbDok.SjekkUtfort" type="date" value="@date.formatDateForInputField(ArbDok.SjekkUtfort.ToString())" /><br />

        <label asp-for="UpsertArbDok.AvtaltFerdig"></label><br />
        <input asp-for="UpsertArbDok.AvtaltFerdig" type="date" value="@date.formatDateForInputField(ArbDok.AvtaltFerdig.ToString())" /><br />

        <label asp-for="UpsertArbDok.ServiceFerdig"></label><br />
        <input asp-for="UpsertArbDok.ServiceFerdig" type="date" value="@date.formatDateForInputField(ArbDok.ServiceFerdig.ToString())" /><br />

        <label asp-for="UpsertArbDok.AntallTimer"></label><br />
        <input asp-for="UpsertArbDok.AntallTimer" type="number" value="@ArbDok.AntallTimer" /><br />

        <label asp-for="UpsertArbDok.BestillingFraKunde"></label><br />
        <!-- <textarea asp-for="UpsertModel.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn" value="@ArbDok.BestillingFraKunde" /><br />

        <label asp-for="UpsertArbDok.NotatFraMekaniker"></label><br />
        <!-- <textarea asp-for="UpsertModel.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn" value="@ArbDok.NotatFraMekaniker" /><br />

        <label asp-for="UpsertArbDok.Status"></label><br />
        <input asp-for="UpsertArbDok.Status" type="text" value="@Ordre.Status" /><br />

        <input type="submit" />
    </form>
</body>