@using Igland.MVC.Models.ServiceDocOversikt;

@model ServiceSkjemaFullViewModel
@{
    ViewData["Title"] = "Sjekkliste";
}


<div class="overskrift">

    <h1>Sjekklister </h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        @* <button type="submit"><i class="fa fa-search"></i></button>*@
    </div>
</div>



<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            ServiceSkjemaID
        </th>

        <th>
            OrdreNummer
        </th>

        <th>
            Årsmodel
        </th>

        <th>
            Garanti
        </th>

        <th>
            Reparasjonsbeskrivelse
        </th>
        <th>
            MedgåtteDeler
        </th>
        <th>
            DeleRetur
        </th>
        <th>
            ForesendelsesMåte
        </th>




        @* undergreier i tabellen *@



    <tbody>
            @foreach (var services in Model.ServiceDocOversikt)
            {
            <tr>
                <td>@services.ServiceSkjemaID</td>
                <td>@services.OrdreNummer</td>
                <td>@services.Aarsmodel</td>
                <td>@services.Garanti</td>
                <td>@services.Reparasjonsbeskrivelse</td>
                <td>@services.MedgaatteDeler</td>
                <td>@services.DeleRetur</td>
                <td>@services.ForesendelsesMaate</td>
            </tr>
            }
    </tbody>

</table>



